*{
    margin:0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background: #f8f8dd;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: #fff;
    overflow-y:scroll;
    background-image: url('img/Fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /*efecto paralax */ 
}


.menu{
    background: #243238;
    height: 100vh;
    width: 275px; 
    overflow-y:scroll;
    position: fixed;
    -webkit-box-shadow: 6px 4px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 8px -1px rgba(0,0,0,0.75);
    z-index: 2;
    transition: all 1s ease;
}

.icono{
    position: fixed;
    color: #fff;
    font-size: 1.3rem;
    margin-left: 290px;
    margin-top: 2.1%;
    z-index: 2;
    transition: all 1s ease;
    cursor: pointer;
    background: #1c2938;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
}

.icono:hover{
    background: #fff;
    color: #1c2938;
}


.container{
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    background: transparent;
    padding: 30px;
    box-sizing: border-box;
    /* margin-left: 20%; */
    z-index: 1;
    overflow: hidden;
    transition: all 1s ease;
}


.abrir{
    transform: translateX(-275px);
    box-shadow: none;
}

.ancho{
    margin-left: 20%;
    width: 80%;
}

.icono-posicion{
    margin-left: 2%;
}


.Welcome{
    width: 90%;
    height: 90vh;
    background: #ffffff8e;
    margin: auto;
}

.segundo{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8dd;
    color: #333;
    height: 600px;
    margin-top: 100px;
}

canvas{
    width: 99% !important;
    height: 90% !important;
    border-radius: 2px;
    border: 1px solid #ccc;
}


main{
    width: 100%;
    height: 450px;
    margin-top: -30px;
    background: transparent;;
    overflow-y:scroll;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* colores dc0a2d  e84848 */
.barra1{
    width: 100%;
    height: 50px;
    position: relative;
    background: #e84848;
    border-left: 2px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    margin-left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra1 > p{
    font-family: 'Sniglet', cursive;
    color: white;
    font-size: 2.5rem;
    margin-top: 25px;
    margin-left: 1rem;
}

.barra1::before{
    content: '';
    display: inline-block;
    margin-top: 20px;
    position: relative;
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 50%;
}

.barra1::after{
    content: '';
    margin-top: 10px;
    margin-left: -84px;
    display: inline-block;
    position: absolute;
    height: 42px;
    width: 42px;
    background: #3d8799;
    border-radius: 50%;
    transition: all 0.3s linear;
}


.barra1:hover::after{
    background: #27bfe6;
}

.subbarra1{
    width: 50%;
    height: 25px;
    background: #e84848;
    margin-left: 25%;
    margin-bottom: 0;
}

.subbarra1::before{
    content: '';
    position: absolute;
    display: block;
    background: url('img/6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 38px;
    margin-left: -42px;
    margin-top: -9px;
}

.subbarra1::after{
    content: '';
    display: block;
    float: right;
    background: url('img/5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 38.5px;
    margin-right: -50px;
    margin-top: -9.7px;
}

.barra2{
    width: 100%;
    height: 50px;
    background: #e84848;
}

.mostrar{
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('img/pokebola.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -25px;
    margin-left: 40%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s linear;
}

.mostrar:hover{
    transform: rotate(180deg);
}


/* ocultar */

.hide{
    display: none;
}

/* tarjetas */
.card{
    position: relative;
    height: 280px;
    width: 20%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 30px;
    cursor: pointer;
}


.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
} 

.card-img{
    background: rgba(224, 219, 219, 0.548);
    width: 80%;
    padding: 10%;
    height: 100px;
    border-radius: 10px 10px 5px 5px;
}

.card-title{
    /* text-transform: uppercase; */
    color: #313131;
    font-size: 20px;
    margin: 5px 0 0 10px;
}

.card-text{
    margin: 10px 0 5px 10px;
    color: #919191;
    font-size: 16px;
}


.card-num{
    color: #919191;
    font-size: 15px;
    margin: 5px 0 5px 10px;
}

.tipo{
    color: #919191;
    font-size: 16px;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tipo > p{
    margin: 5px;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 3px;
}

/* clases de pokemon */

.Planta{
    background: #9bcc50;
}

.Veneno{
    background: #b97fc9;
}

.bicho{
    background: #729f3f;
}

.dragon{
    background: #d52323;
}

.hada{
    background: #fdb9e9;
}

.fuego{
    background: #fd7d24;
}

.fantasma{
    background: #7b62a3;
}

.tierra{
    background: #f7de3f;
}

.normal{
    background: #a4acaf;
}

.psiquico{
    background: #f366b9;
}

.acero{
    background: #9eb7b8;
}

.siniestro{
    background: #707070;
}

.electrico{
    background: #eed535;
}

.lucha{
    background: #d56723;
}

.volador{
    background: #3dc7ef;
}

.hielo{
    background: #51c4e7;
}

.roca{
    background: #a38c21;
}

.agua{
    background: #4592c4;
}

/* estilos del menú */
.header{
    background: transparent;
    width: 275px; 
    color: #ccc;
    font-size: 16px;
    /* background: red; */
    padding: 20px;
    border-bottom: 1px solid #707070;
}
.user-image{
    height: 70px;
    width: 70px;   
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

.info-user{
    display: flex;
    flex-direction: column;
    /* background: blue; */
    line-height: 20px;
}
.user-role{
    color: #ccccccda;
    font-size: 13px;
}
.user-status > i{
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}
.user-status > span {
    font-size: 12px;
}

/* estilos del buscador */
.buscador{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #707070;
}

.group{
    border-radius: 5px;
    background: rgba(104, 103, 103, 0.726);
}


.group > input{
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background: transparent;
}
.group >input::placeholder , i{
    color: rgba(204, 204, 204, 0.719);
}

 /* lista */
a{
    /* color: white; */
    text-decoration: none;
}


.lista{
    /* background: red; */
    width: 275px;
    color: #ccccccda;
    font-size: 14px;
}

.lista   li   a{
    display: block;
    color: #ccccccda;
    padding: 5px;
    padding: 15px 20px;
    /* background: #576574; */
}

/* El listado dropdow */
.listado {
    color: #ccccccda;
    list-style: none;
    max-height: 0;
    display: block;
    position: relative;
    overflow: hidden;
    background: rgba(54, 74, 83, 0.986);
    -webkit-transition:  max-height 0.3s ease;
}

.listado a {
    margin-left: 20px;
    /* background: red; */
}


.lista li .dropdown::after{
    content: "\f105";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    float: right;
}

.activar {
    max-height: 600px;
} 

/* Personalizar el scroll */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background: #383838;
    box-shadow: 0 0 2px 10x #ccc;
}
/* Fin Personalizar el scroll */


/* personalizo scroll del menú */
.menu::-webkit-scrollbar{
    display: none;
}

.footer{
    width: 100%;
    height: 100px;
    margin-top: 100px;
    display: block !important;
    background: rgb(24, 24, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    line-height: 50px;
}

  /*Galaxy S7 and S8 */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px){

    .container{
       /* background: red; */
    }
    .Welcome {
        width: 100%;
      }
    
    main{
        justify-content: center;
    }

    .card{
        width: 50%;
    }

}